input{
    width: 15rem;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
    padding-left: 2rem;
}

input::placeholder{
    color: #999;
    font-size: smaller;
}

.myinput{
    height: 100%;
    position: relative;
}
.search-icon{
    position: absolute;
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
}